body {
	background: #eee;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
}

.myDiv {
	width: 100px;
	height: 100px;
	background-color: red;
	color: #eee;
}

.g {
	width: 100px;
	height: 60px;
	overflow: scroll;
}
.btn {
	width: 100px;
	height: 80px;
	background-color: rebeccapurple;
}
